#intro{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:#240103;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;

    animation:desaparecer 1s ease forwards;
    animation-delay:2s;

}

.libro{

    position:relative;

    width:320px;

    height:220px;

    perspective:1200px;

}

.tapa{

    position:absolute;

    width:50%;

    height:100%;

    background:linear-gradient(
    135deg,
    #8C0B25,
    #5d0618
    );

    border:2px solid #b48a63;

    box-shadow:0 10px 25px rgba(0,0,0,.5);

}

.hoja{

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    width:8px;

    height:100%;

    background:#f7ead8;

    box-shadow:

    0 0 8px rgba(255,255,255,.7);

}

.tapaIzquierda{

    left:0;

    transform-origin:left;

    animation:abrirIzquierda 1.6s forwards;

}

.tapaDerecha{

    right:0;

    transform-origin:right;

    animation:abrirDerecha 1.6s forwards;

}

.centro{

    position:absolute;

    left:50%;
    top:0;

    width:4px;
    height:100%;

    background:#f3c7c9;

    transform:translateX(-50%);
}

/*=====================
APARICIÓN DE LA PÁGINA
=====================*/

#pagina{

    opacity:0;

    animation:mostrarPagina 1s forwards;

    animation-delay:2.1s;

}

/*=====================
MÁQUINA DE ESCRIBIR
=====================*/

.escribir{

    overflow:hidden;

    white-space:nowrap;

    border-right:4px solid #69001C;

    width:0;

    animation:

        escribir 2.5s steps(25,end) forwards,

        cursor .7s infinite;

    animation-delay:2.2s;

}

/*=====================
APARICIÓN DE ELEMENTOS
=====================*/

.logo{

    opacity:0;

    transform:translateY(30px);

    animation:subir .8s forwards;

    animation-delay:4.5s;

}

.descripcion{

    opacity:0;

    transform:translateY(30px);

    animation:subir .8s forwards;

    animation-delay:4.8s;

}

.btn,
.btn2{

    opacity:0;

    transform:translateY(30px);

    animation:subir .8s forwards;

}

/*=====================
SECUENCIA DE BOTONES
=====================*/

.btn:nth-of-type(1){

    animation-delay:5s;

}

.btn:nth-of-type(2){

    animation-delay:5.2s;

}

.btn2:nth-child(1){

    animation-delay:5.4s;

}

.btn2:nth-child(2){

    animation-delay:5.6s;

}

.btn2:nth-child(3){

    animation-delay:5.8s;

}

.btn2:nth-child(4){

    animation-delay:6s;

}

.btn2:nth-child(5){

    animation-delay:6.2s;

}

.btn2:nth-child(6){

    animation-delay:6.4s;

}

/*=====================
KEYFRAMES
=====================*/

@keyframes abrirIzquierda{

    to{

        transform:perspective(600px) rotateY(-110deg);

    }

}

@keyframes abrirDerecha{

    to{

        transform:perspective(600px) rotateY(110deg);

    }

}

@keyframes desaparecer{

    to{

        opacity:0;
        visibility:hidden;

    }

}

@keyframes mostrarPagina{

    to{

        opacity:1;

    }

}

@keyframes escribir{

    to{

        width:100%;

    }

}

@keyframes cursor{

    50%{

        border-color:transparent;

    }

}

@keyframes subir{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}