*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f3c7c9;
    font-family: 'Merriweather', serif;
    color: #69001C;
}
img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
    border:none;
    cursor:pointer;
}