*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#f3c7c9;
font-family: Georgia, serif;
}

header{

height:80px;

background:#EF999E;

border:5px solid #8C0B25;

display:flex;

align-items:center;

padding-left:15px;

}

.cuadrito{

width:45px;
height:45px;

background:#820513f4;

margin-right:15px;

}

header h1{

font-size:38px;

color:#69001C;

}

.contenedor{

display:flex;

padding:35px;

gap:40px;

}

.izquierda{

width:420px;

display:flex;

flex-direction:column;

align-items:center;

}

.btn{

width:100%;

height:70px;

margin-bottom:18px;

font-size:38px;

background:#EF999E;

border:none;

color:#69001C;

box-shadow:0px 6px 0px #35040e;

cursor:pointer;

transition:.2s;

font-family: Georgia, serif;
}

.btn:hover{

transform:translateY(-3px);

}

.integrantes{

width:100%;

height:380px;

background:#510202ef;

padding:20px;

font-size:25px;

color:#f3c7d3;

display:flex;

flex-direction:column;

gap:18px;

}

.derecha{

flex:1;

display:flex;

flex-direction:column;

}

.titulo{

width:95%;

height:90px;

margin:auto;

background:#EF999E;

border:none;

box-shadow:0px 6px 0px #8C0B25;

font-size:40px;

color:#69001C;

font-family: Georgia, serif;
margin-bottom:35px;

cursor:pointer;

}

.descripcion{

width:100%;

height:500px;

background:#510202ef;

margin-bottom:30px;

.descripcion{

border:4px solid #c9adb2;

border-radius:10px;

}
}

.opciones{

display:grid;

grid-template-columns:1fr 1fr;

gap:18px;

}

.btn2{

display:flex;
justify-content:center;
align-items:center;

height:80px;

background:#EF999E;
box-shadow:0px 6px 0px #8C0B25;

font-size:35px;
color:#69001C;

text-decoration:none;

transition:.2s;

font-family: Georgia, serif;

}

.btn2:hover{

transform:translateY(-3px);

background:#f8aab1;
.descripcion{

border-radius:10px;

}

.integrantes{

border-radius:10px;

}
}
body{
   font-family: Georgia, serif;
}
.logo{
    width:300px;
    height:300px;
    border-radius:50%;
    background:rgb(255, 255, 255);

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.logo img{
    width:98%;
    height:auto;
}
.logo{

transition:.4s;

}
.logo{

position:relative;

overflow:hidden;

}

.logo::before{

content:"";

position:absolute;

top:0;
left:-120%;

width:60%;
height:100%;

background:rgba(255,255,255,.5);

transform:skewX(-25deg);

transition:.8s;

}

.logo:hover::before{

left:150%;

}
.logo:hover{

box-shadow:

0 0 20px #f3f3f3,

0 0 40px #ffffff,

0 0 70px #fdfdfd;
}
.logo{

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    margin-top:15px;  
    margin-bottom:15px;

}
.paginaHedonismo{

width:95%;

margin:auto;

padding:25px;

}

.imagenPrincipal{

width:100%;

height:330px;

object-fit:cover;

border-radius:8px;

box-shadow:0px 4px 12px rgba(0,0,0,.4);

margin-bottom:30px;

}

.tituloCaja{

background:#EF999E;

padding:25px;

text-align:center;

font-size:25px;

color:#69001C;

box-shadow:0px 6px 0px #8C0B25;

margin-bottom:30px;

}

.texto{

background:#C6A29C;

padding:35px;

font-size:22px;

line-height:1.8;

text-align:justify;

border-radius:8px;

box-shadow:0px 5px 10px rgba(0,0,0,.25);

margin-bottom:30px;

}

.texto h3{

margin-bottom:15px;

color:#69001C;

}

.volver{

display:inline-block;

padding:18px 30px;

background:#EF999E;

color:#69001C;

text-decoration:none;

font-size:22px;

box-shadow:0px 6px 0px #8C0B25;

transition:.3s;

}

.volver:hover{

transform:translateY(-3px);

}

.imagenPrincipal{

    width:100%;

    height:350px;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 15px 50px rgba(0,0,0,.3);

    margin-bottom:30px;

}
.descripcion{

    width:100%;

    background:#510202ef;

    padding:35px;

    border-radius:12px;

    box-shadow:0px 8px 18px rgba(0,0,0,.25);

}

/* Texto de la descripción */

.descripcion p{

    font-family: Georgia, serif;

    font-size:24px;

    color:#F8D6D8;

    text-align:justify;

    line-height:1.8;

}

/* Título "Objetivo" */

.descripcion h3{

    font-family:'Pixelify Sans', Georgia, serif;

    font-size:38px;

    color:#EF999E;

    text-align:center;

    margin:15px 0;

    text-shadow:2px 2px 5px rgba(0,0,0,.4);
}