*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url("../Imagenes/FONDO.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Merriweather', serif;
    color: rgb(8, 8, 8);
}
img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
    border:none;
    cursor:pointer;
}